<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="Content-Style-Type" content="text/css">
<TITLE>ようこそ！＠Ueki掲示板</TITLE>
<BASE href="">
<link rel="stylesheet" type="text/css" href="">
</HEAD>
<BODY class="c1" background="" bgcolor="#FFFFFF" text="#000000" link="#0000FF" vlink="#660099" alink="#FF0000">
<A NAME="PageTop"></A>
<DIV align="center" style="padding: 15px 0;"><FONT SIZE="6"><B>ようこそ！＠Ueki掲示板</B></FONT></DIV>
<TABLE border="0" align="center">
<TR>
<TD align="center">
<TABLE border="1" cellspacing="6" cellpadding="3" bgcolor="#CCFFCC">
<TR>
<TD  class="Head">
</br>現状、最低限の管理しか出来ないので良識の範囲でスレたてしてもらってもOKです。としていましたが、ユーザーでのスレ立て暫く停止します。</br>
既存スレは「不具合報告用」と「無法地帯化(雑談その他総合スレ)」です。現在は少し増えましたがメインはこの二つです。それ以外のスレはスレルールを守ってね</br>
以前使っていたしたらばでのログは保管してあるものを必要に応じて転載予定です。</br>
</br>
※：不具合スレを含む各スレでの「リク」については既存動画の修復等の手間を省くものであり、新規受付は承っておりません。</br>
※：試聴に際し、「不具合？」と報告する前に、ブラウザ変更やサイトFAQを確認して『各自で最低限の知識とスキル』を身につけ実践して下さい。</br>

</br>冷たいようですが、ここはパソコン教室でも子供相談室でもありません。ご利用、ご視聴に際しては各自の自己責任が全てにおいての前提となりますこともお忘れなく</br></br>


</TD>
</TR>
</TABLE><BR>
<TABLE border="1" cellspacing="6" cellpadding="3" bgcolor="#CCFFCC">
<TR align="center">
<TD width="200"><font size="6">注意事項</font></TD>
<TD >
<当掲示板での禁止事項></br>
</br>
初めに、新掲示板は「したらば」と見た目が似ておりますが、仕様が大きく異なります。</br>
また、仕様書がありませんので手探りでボチボチ改善していく予定です。現状のままのご利用でお願いいたします。</br>
</br>
【アングラサイトとはいえローカルルールを守られない方には掲示板規制を施行する場合がありますのでご注意下さい。】</br>
【ひとりごとスレでの「age」は禁止です。その際の内容に因っては･･･詳しくは告知スレをご確認下さい。】</br>
【「意図せず、を含めたサイト晒し」などは対象サイトに迷惑となるためお控え下さい。 ※補足用URLは参照であり解釈が異なる】</br>
</br>
簡素ではありますが、当掲示板での犯罪助長になるようなレスはご遠慮下さい。それらを重々ご承知のうえ、ご利用下さいませ。</br>
犯罪云々でなく、罵詈雑言等その内容が逸脱したものについては今までと同様に予告無しでの削除もあります。ご了承下さい。</br>
あえて記載はしてませんが、以前の掲示板でのNG的な規約はそのまま生きています(サイトTOPのTOS参照)。</br>

</br>
管理人
</TD>
</TR>
</TABLE><BR>
</TD>
</TR>
</TABLE>
<div align="center"><br>
<p align="center"><table style="WIDTH: 600px; HEIGHT: 100px" border="0" cellspacing="0" cellpadding="0" width="1200"><p></p>
<tr><td><p align="left"><font color="#0000ff" size="2">
</font></p>
</td></tr></table></p>

<br><br>
<a href="http://localhost:3000/top/entry">Enter</a>
<p></p>


<br><br>
<br><br>
<br><br>

<a href=""></a>
<p>広告掲載予定</p> </div>


</BODY>
</HTML>
